<div class="card">
  <div class="card-body container">
    <img class="img_lightsaber" src="../../assets/sabre1.png" alt="lightsaber">
  </div>
</div>

<div class="card container card_films" style="width:300px">
  <img class="card-img-top" src="../../assets/logo.png" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">John Doe</h4>
    <p class="card-text">Some example text.</p>
    <a href="#" class="btn btn-primary" routerLink="/film1">Ver mais Detalhes do Filme</a>
  </div>
</div>

<div class="card container card_films" style="width:300px">
  <img class="card-img-top" src="../../assets/logo.png" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">John Doe</h4>
    <p class="card-text">Some example text.</p>
    <a href="#" class="btn btn-primary" routerLink="/film2">Ver mais Detalhes do Filme</a>
  </div>
</div>

<div class="card container card_films" style="width:300px">
  <img class="card-img-top" src="../../assets/logo.png" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">John Doe</h4>
    <p class="card-text">Some example text.</p>
    <a href="#" class="btn btn-primary" routerLink="/film3">Ver mais Detalhes do Filme</a>
  </div>
</div>

<div class="card container card_films" style="width:300px">
  <img class="card-img-top" src="../../assets/logo.png" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">John Doe</h4>
    <p class="card-text">Some example text.</p>
    <a href="#" class="btn btn-primary" routerLink="/film4">Ver mais Detalhes do Filme</a>
  </div>
</div>

<div class="card container card_films" style="width:300px">
  <img class="card-img-top" src="../../assets/logo.png" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">John Doe</h4>
    <p class="card-text">Some example text.</p>
    <a href="#" class="btn btn-primary" routerLink="/film5">Ver mais Detalhes do Filme</a>
  </div>
</div>

<div class="card container card_films" style="width:300px">
  <img class="card-img-top" src="../../assets/logo.png" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">John Doe</h4>
    <p class="card-text">Some example text.</p>
    <a href="#" class="btn btn-primary" routerLink="/film6">Ver mais Detalhes do Filme</a>
  </div>
</div>

<div class="card container card_films" style="width:300px">
  <img class="card-img-top" src="../../assets/logo.png" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">John Doe</h4>
    <p class="card-text">Some example text.</p>
    <a href="#" class="btn btn-primary" routerLink="/film7">Ver mais Detalhes do Filme</a>
  </div>
</div>