<div class="card container card_films" style="width:300px">
    <img class="card-img-top" src="../../assets/ep6.jpg" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">{{getFilm3.title}}</h4>
      <p class="card-text">Episódio {{getFilm3.episode_id}}</p>
      <p class="card-text">Data {{getFilm3.release_date}}</p>
      <p class="card-text">Produção {{getFilm3.producer}}</p>
      <p class="card-text">Texto de Abertura: <br>{{getFilm3.opening_crawl}}</p>
    </div>
  </div>