<div class="card">
  <div class="card-body container">
    <img class="img_lightsaber" src="../../assets/sabre3.png" alt="lightsaber">
  </div>
</div>

<div class="card container card_films" style="width:300px">
  <img class="card-img-top" src="../../assets/jedi.jpg" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">Developer: Ivam Galvão Filho</h4>
    <p class="card-text">Developer FrontEnd and Jedi Master.</p>
    <p class="card-text">
      graduating in analysis and development of systems by the college Estácio de Sá
    </p>
    <p class="card-text">
      Contact: ivam.developer@gmail.com
    </p>
  </div>
</div>