<div class="card container card_films" style="width:300px">
    <img class="card-img-top" src="../../assets/ep3.jpg" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">{{getFilm6.title}}</h4>
      <p class="card-text">Episódio {{getFilm6.episode_id}}</p>
      <p class="card-text">Data {{getFilm6.release_date}}</p>
      <p class="card-text">Produção {{getFilm6.producer}}</p>
      <p class="card-text">Texto de Abertura: <br>{{getFilm6.opening_crawl}}</p>
    </div>
  </div>
