<div class="card container card_films" style="width:300px">
    <img class="card-img-top" src="../../assets/ep4.png" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">{{getFilm1.title}}</h4>
      <p class="card-text">Episódio {{getFilm1.episode_id}}</p>
      <p class="card-text">Data {{getFilm1.release_date}}</p>
      <p class="card-text">Produção {{getFilm1.producer}}</p>
      <p class="card-text">Texto de Abertura: <br>{{getFilm1.opening_crawl}}</p>
    </div>
  </div>